@model JeopardyLibrary.Models.Questions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="javascript:history.go(-1)">Back</a>
</div>
